@media screen and (min-width: 769px) {
    nav ul {
        display: flex; 
        flex-direction: row;
        justify-content: center;
    }

    nav ul li {
        margin: 0 1rem; 
    }

    #menu {
        display: none; 
    }

    main {
        flex-direction: row; 
        justify-content: space-between;
    }

    section {
        width: 45%; 
    }
}