/* Small screen styles (Mobile-first) */
body {
    background-color: #f4f4f4;
    color: #022588;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: #0e0155;
    color: white;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

header span {
    font-size: 1.5rem;
}

nav {
    background-color: #02013d;
    text-align: center;
    display: center ;
}


nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    flex-direction: column;
    margin: 0;
}

nav ul.active{
    display: flex;
}

nav ul li {
    margin: 1rem 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    display: block;
}

nav ul li a:hover{
    background-color: #039759;
}

#container{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    min-height: 250px;
    background-color: rgb(1, 1, 78)
}
#container.div{
    height: 100px; 
    width: 20px;
    background-color: #0b0168;
    margin: 60px;
    text-align: center;
}


#menu{
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
}

.card1{
    background-color: rgb(1, 1, 116);
    color: white;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ccc;
    border-radius: 9px;
}
.card1 ul li a {
    color: white;
}
.card1 ul li a:hover{
    background-color: green;
}
main {
    padding: 1rem;
    background-color: white;
}

h1 {
    text-align: center;
}

section {
    margin-bottom: 1rem;
    border-radius: 10px;
}
section ul li a{
    color: white;

}

section ul {
    background-color: rgb(1, 1, 95);
    border-radius: 10px;
    padding: 15px;
}

section ul li{
    color: white;
    padding: 2px;
}

section img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 1rem auto;
    color: white;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #08004b;
    color: white;
}
.hamburger-menu .bar {
    height: 4px;
    background-color: rgb(10, 228, 192);
    width: 100%;
    border-radius: 5px;
  }
  
  .nav-links {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
  }
  .nav-links ul {
    list-style: none;
    display: flex;
  }
  
  .nav-links ul li {
    margin: 0 20px;
  }
  
  .nav-links ul li a {
    color: rgb(162, 42, 209);
    text-decoration: none;
    font-size: 18px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      width: 100%;
      background-color: #333;
      text-align: center;
    }
    .nav-links ul {
        flex-direction: column;
        width: 100%;
      }
    
      .nav-links ul li {
        margin: 10px 0;
      }
    
      .hamburger-menu {
        display: flex;
      }
    
      .nav-links.active {
        display:block;
    }
    }